.projects {
    padding: 100px 0;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 50px;
}

.project-card {
    background-color: var(--card-bg);
    padding: 2rem 1.75rem;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.project-card:hover {
    transform: translateY(-7px);
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.folder-icon {
    color: var(--primary);
}

.card-links {
    display: flex;
    gap: 15px;
}

.card-links a {
    color: var(--text-secondary);
}

.card-links a:hover {
    color: var(--primary);
}

.project-title {
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: var(--text-color);
}

.project-description {
    margin-bottom: 20px;
    flex-grow: 1;
}

.project-description p {
    color: var(--text-secondary);
    font-size: 1rem;
    line-height: 1.5;
}

.project-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    font-family: monospace;
    font-size: 0.8rem;
    color: var(--text-secondary);
}

.project-tech li {
    margin-right: 5px;
}